<h4>Player details</h4>
<table class="player-details-table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Position</th>
    <th>Age</th>
    <th>Shirt number</th>
    <th>Games played</th>
    <th>Goals scored</th>
    <th>Yellow cards</th>
    <th>Red cards</th>
    <th *ngIf="selectedPlayer.captain">Captain</th>
  </tr>
  <tr>
    <td>{{selectedPlayer.firstName}}</td>
    <td>{{selectedPlayer.lastName}}</td>
    <td>{{selectedPlayer.age}}</td>
    <td>{{selectedPlayer.position}}</td>
    <td>{{selectedPlayer.age}}</td>
    <td>{{selectedPlayer.shirtNumber}}</td>
    <td>{{selectedPlayer.gamesPlayed}}</td>
    <td>{{selectedPlayer.goalsScored}}</td>
    <td>{{selectedPlayer.yellowCards}}</td>
    <td>{{selectedPlayer.redCards}}</td>
    <td *ngIf="selectedPlayer.captain">&#10004;</td>
  </tr>
</table>

