<div class="popup">
  <h2>{{popupTitle}}</h2>
  <form *ngIf="popup.mode == PopupModes.ADD || popup.mode == PopupModes.EDIT" class="popup-form">
    <label>
      <span>First name</span>
      <input type="text" [(ngModel)]="editPlayer.firstName" name="fname">
    </label>
    <label>
      <span>Last name</span>
      <input type="text" [(ngModel)]="editPlayer.lastName" name="lname">
    </label>
    <label>
      <span>Age</span>
      <input type="number" [(ngModel)]="editPlayer.age" name="age" min="1" max="99">
    </label>
    <label>
      <span>Position</span>
      <input type="text" [(ngModel)]="editPlayer.position" name="position">
    </label>
    <label>
      <span>Shirt number</span>
      <input type="number" [(ngModel)]="editPlayer.shirtNumber" name="shirt-number" min="1" max="99">
    </label>
    <label>
      <span>Games played</span>
      <input type="number" [(ngModel)]="editPlayer.gamesPlayed" name="games" min="0" max="99">
    </label>
    <label>
      <span>Goals scored</span>
      <input type="number" [(ngModel)]="editPlayer.goalsScored" name="goals" min="0" max="99">
    </label>
    <label>
      <span>Yellow cards</span>
      <input type="number" [(ngModel)]="editPlayer.yellowCards" name="yellow-cards" min="0" max="99">
    </label>
    <label>
      <span>Red cards</span>
      <input type="number" [(ngModel)]="editPlayer.redCards" name="red-cards" min="0" max="99">
    </label>
    <label>
      <span>Captain</span>
      <input type="checkbox" [(ngModel)]="editPlayer.captain" name="captain">
    </label>
  </form>
  <button class="popup-submit" (click)="submit()">Submit</button>
  <button class="popup-cancel" (click)="cancel()">Cancel</button>
</div>
