.popup {
  background-color: #ddd;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  .popup-form {
    display: flex;
    flex-direction: column;

    label {
      padding-bottom: 15px;

      input {
        padding: 0 10px;
        margin-left: 15px;
        border: 1px solid #000;
      }
    }
  }
}
