<h2>squad</h2>

<div class="squad">
  <ul class="squad-list">
    <li *ngFor="let player of players$ | async">
      <a (click)="selectPlayer($event, player)">{{ player.firstName }}</a>
      <button (click)="openPopup(player, PopupModes.EDIT)">edit</button>
      <button (click)="openPopup(player, PopupModes.DELETE_ONE)">delete</button>
    </li>
  </ul>
  <button (click)="openPopup(mockPlayer, PopupModes.ADD)">add</button>
</div>
<app-player-detail
  *ngIf="selectedPlayer"
  [selectedPlayer] = "selectedPlayer">
</app-player-detail>

<app-popup
  *ngIf="popup && popup.open"
  [editPlayer] = "editPlayer"
  [popup] = "popup"
  [popupTitle] = "popupTitle">
</app-popup>
